div.selected, div.where, div.from {
  height: 350px;
  width: 250px;
  border: 1px solid blue;
    margin-bottom: 18px;
    position: relative;
}

div.whereFrom, div.select {
  position: relative;
   float: left;
   min-height: 1px;
}

div.whereFrom, div.select {
  position: relative;
   float: left;
   min-height: 1px;
}

div.selected {
  left: 250px;
  top: 200px;
}

div.from::after, div.where::after {
  content: '';
  height: 1px;
  background: black;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  left: 250px;
  position: absolute;
  top: 50%;
}
div.selected::after {
  content: '';
   height: 1px;
   background: black;
   width: 99px;
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
   left: -100px;
   position: absolute;
   top: 50%;
}
div.selected::before {
  content: '';
   height: 175px;
   background: black;
   width: 1px;
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
   position: absolute;
   top: 50%;
   left: -102px;
}

div.from::before {
  content: '';
   height: 200px;
   background: black;
   width: 1px;
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
   position: absolute;
   top: 50%;
   left: 400px;
}


.select-text, .from-text, .where-text  {
  background-color: #eeeee4;
  align-items: center;
  text-align: center;
}

.select-contents, .from-contents, .where-contents {
  background-color: #abdbe3;
}
